<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9e78c">  <td>23/11/17 22:46:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGetPost.testGet()[pri:0, instance:com.sample.test.TestGetPost@543588e6]">testGet</td> 
  <td>main@20224131</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/11/17 22:46:28</td>   <td>4150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGetPost.testPost()[pri:0, instance:com.sample.test.TestGetPost@543588e6]">testPost</td> 
  <td>main@20224131</td>   <td></td> </tr>
</table>
